sudo apt update
sudo apt install python3-pip
sudo apt install libopenmpi-dev
pip3 install mpi4py
pip3 install numpy
pip3 install pandas
pip3 install neuron
pip3 install matplotlib

# for mpi on windows use:
# install https://www.microsoft.com/en-us/download/details.aspx?id=57467 (manually)
#  $env:PATH += ";C:\Program Files\Microsoft MPI\Bin" to add to path